@keyframes kf_hilighting 
{
    to {
        opacity: 0.1;
    }
}

@-webkit-keyframes kf_hilighting {
    to {
        opacity: 0.1;
    }
}

@keyframes kf_tileMapShowing 
{
    from {
        opacity: 0.0;
    }
    
    to {
        opacity: 1.0;
    }
}

@-webkit-keyframes kf_tileMapShowing {
    from {
        opacity: 0.0;
    }
    
    to {
        opacity: 1.0;
    }
} 

.tilemap
{
    position: absolute;
	/*pointer-events: none;*/
    /*user-select: none;*/
	border: none;

    animation-duration: 0.6s;
	animation-name: kf_tileMapShowing;

    -webkit-animation-name: kf_tileMapShowing;
    -webkit-animation-duration: 0.6s;

    -webkit-transform-origin: 0px 0px;
    transform-origin: 0px 0px;
}
