
html/testEditShapeMapLayer.html
html/js/ModifyAttributeCommand.js
html/testAdvancedEditShapeMapLayer.html

js/Xr_forMakingSingleFile.js
*.dll
*.config
bin/project.pdb
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/project.csproj.FileListAbsolute.txt
obj/Debug/project.csprojResolveAssemblyReference.cache
obj/Debug/project.pdb
obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
project.csproj
project.csproj.user
